/* Derived from https://github.com/CyanVoxel/Obsidian-Colored-Sidebar */

/* Bolden root folders in the file tree */
.nav-folder-title:not([data-path*="/"]) .nav-folder-title-content {
  font-weight: var(--font-bold);
}

:root {
  --highlight: #fff;
  --shadow: #0b0c2c;
}

/* Light Theme Specific Properties */
.theme-light {
  --contrast-color: var(--shadow);
  --default-text-color: var(--shadow);
  --bg-contrast-amount: 70%;
  --fg-contrast-amount: 30%;
  --medium-contrast-amount: 60%;
  --active-contrast-amount: 30%;
}

/* Dark Theme Specific Properties */
.theme-dark {
  --contrast-color: var(--highlight);
  --default-text-color: #d0d0d0;
  --bg-contrast-amount: 15%;
  --fg-contrast-amount: 40%;
  --medium-contrast-amount: 20%;
  --active-contrast-amount: 10%;
}

[data-path^="0"] { --sidebar-color: var(--grey); }
[data-path^="1"] { --sidebar-color: var(--red); }
[data-path^="2"] { --sidebar-color: var(--orange); }
[data-path^="3"] { --sidebar-color: var(--yellow); }
[data-path^="4"] { --sidebar-color: var(--lime); }
[data-path^="5"] { --sidebar-color: var(--green); }
[data-path^="6"] { --sidebar-color: var(--cyan); }
[data-path^="7"] { --sidebar-color: var(--blue); }
[data-path^="8"] { --sidebar-color: var(--purple); }
[data-path^="9"] { --sidebar-color: var(--pink); }

.nav-folder-title {
  color: var(--sidebar-color);
  --nav-item-color-hover: color-mix( in srgb, var(--sidebar-color) var(--fg-contrast-amount), var(--contrast-color));
  --nav-item-background-hover: color-mix( in srgb, var(--sidebar-color) var(--bg-contrast-amount), transparent);
  --background-modifier-border-focus: color-mix( in srgb, var(--sidebar-color) 40%, transparent);
  --nav-collapse-icon-color: color-mix(in srgb, var(--sidebar-color) 60%, transparent);
}
.nav-folder-title:hover {
  --nav-collapse-icon-color: color-mix( in srgb, var(--sidebar-color) 60%, var(--contrast-color));
}
.tree-item-children .nav-folder:has(.nav-folder-title) {
  --nav-indentation-guide-color: color-mix( in srgb, var(--sidebar-color) var(--medium-contrast-amount), transparent);
}
.tree-item-children .nav-folder:has(.nav-folder-title) .nav-file-title {
  color: color-mix( in srgb, var(--sidebar-color) var(--medium-contrast-amount), var(--default-text-color));
  --nav-item-background-hover: color-mix( in srgb, color-mix(in srgb, var(--sidebar-color) 50%, var(--highlight)) var(--bg-contrast-amount), transparent);
  --background-modifier-border-focus: color-mix( in srgb, var(--sidebar-color) 40%, transparent);
  --nav-item-background-active: color-mix( in srgb, var(--sidebar-color) var(--active-contrast-amount), transparent);
}
